@import "bootstrap/dist/css/bootstrap.min.css";

body {
  background: #f5f5f5;
}
.contact-row {
  gap: 75px;
}

.heading-box {
  margin: 0 auto;
  width: 1000px;
}

.contact-heading {
  padding: 20px 0;
  border-bottom: 2px solid #222;
}
