.card-css {
  border-radius: 0px !important;
}

.card-img-1 {
  border-radius: 0px !important;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.card-img-2 {
  border-radius: 0px !important;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.news-link {
  color: #d12121;
}

.news-link:hover {
  color: #b12c2c;
}

.card-subheading-1 {
  color: #777;
}

.card-subheading-2 {
  color: #555;
}

.card-subheading-box {
  width: 90%;
  border-bottom: 1px solid #222;
  margin: 0 auto;
  margin-bottom: 10px;
}
