.card-css {
  border-radius: 0px !important;
}

.card-img-1 {
  border-radius: 0px !important;
  aspect-ratio: 16 / 9;
}

.card-img-2 {
  border-radius: 0px !important;
  aspect-ratio: 1 / 1;
}

.news-link {
  color: #d12121;
}

.news-link:hover {
  color: #b12c2c;
}
